
.BinItem{
    position: relative;
    width: 28%;
    margin: 30px auto 20px 600px;
    background: #f5f1f1;
    padding: 10px;
    padding-bottom: 2px;
    border-radius: 7px;
    /* border: 1px solid black; */
    /* box-shadow: 0 1px 5px rgb(138, 137, 137); */
}
.BinItem:hover{
    box-shadow: 0 1px 5px rgb(138, 137, 137);
}
.BinItem h2,.BinItem p {
    width: 100%;
    border: none;
    padding: 4px;
    outline: none;
    background: #f5f1f1;
    font-size: 1em;
    font-family: inherit;
    resize: none;
    overflow: hidden;
    height: auto;
}
 .BinItem button[data-tooltip]:hover:after {
    content: attr(data-tooltip);
    position: absolute;
    top: calc(100% + 5px);
    left: auto;
    transform: translateX(-50%);
    padding: 5px;
    background-color: #161616a8;
    color: #fff;
    white-space: nowrap;
  }

.BinItem button{
    background: none;
    border: none;
    padding: 5px 5px;
    border-radius: 10px;
    opacity: 0;
    color:#555555;
    transition: opacity 0.4s ease;
}
.BinItem button:hover{
    background: rgba(170, 170, 170, 0.397);
     transition: 0.4s;
     opacity: 0.5;
     -webkit-backdrop-filter: blur(0px) saturate(0%);
     background-color: rgba(71, 71, 71, 0.81);
     background-color: rgba(90, 89, 89, 0.3);
     border-radius: 12px;
     color: #1b1b1b;
    
  }
  .BinItem:hover button{
    opacity: 1;
   }
   .BinIcons{
    display: flex;
    flex-wrap: wrap;
    column-gap: 2em;   
}